/*
*
* Header
*
*/

.brandico-github:before {
    font-family: 'brandico', sans-serif;
    font-size: 2em;
}

h1 {
    font-size: 1.9em;
    font-family: 'Josefin Slab', serif;
}

small {
    font-family: 'Josefin Slab', serif;
    font-size: 1.09em;
}

/*
 *
 * Page break
 *
 */

hr {
    width: 100%;
    border: 3px solid #ff790e;
    border-radius: 10px;
}

/*
 *
 * Content
 *
 */

h2,
h3,
p {
    font-family: 'Josefin Slab', serif;
}

main {
    width: 100%;
}

.proj-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* Button styled with the aid of a button generator with the link http://www.cssportal.com/css3-button-generator/ */
.link-buttons {
    font-family: 'trebuchet ms';
    font-weight: bold;
    color: #000046 !important;
    font-size: 14px;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 7px 20px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 3px outset #000046;
    background: yellow;
}

.link-buttons:hover {
    font-family: 'trebuchet ms';
    font-weight: bold;
    color: #000046 !important;
    font-size: 13px;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 7px 20px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 3px outset #000046;
    background: #eb0;
    cursor: pointer;
}

/*
 *
 * Footer
 *
 */

p {
    font-size: 1.3em;
}


@media screen and (min-width: 1201px) {
    body {
        background: linear-gradient(to top, #159957, #000046);
        color: yellow;
    }

/*
*
* Header
*
*/

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .brandico-github:before {
        font-size: 2.5em;
    }

    .logo {
        width: 40%;
    }

    .header-div {
        width: 60%;
        text-align: end;
        font-size: 1.5em;
    }

/*
 *
 * Page break
 *
 */

    hr {
        border: 3px solid yellow;
    }

/*
 *
 * Content
 *
 */
    /* Main image*/
    .main-page-img {
        display: flex;
        justify-content: center;
    }

    .main-img {
        width: 600px;
        height: 400px;
    }

    /*Featured Works*/
    .featured-works {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .ft-works {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 1200px;
    }

    .works {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        width: 100%;
        text-align: center;
        font-size: 1.5em;
    }

/*
 *
 * Footer
 *
 */

    .page-bottom {
        background: yellow;
        text-align: center;
        height: 100%;
        width: 100%;
        color: #000046;
        font-size: 1.3em;
    }
}
